body {
  background-color: white;
}

.moduleList {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

.pageHeader {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

.pageTitle {
  font-family: verdana;
  font-style: normal;
  font-size: 300%;
}

.badge {
  background-color: #03989E;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.row {
  display: flex;
  margin: auto;
  width: 100%;
}

.column {
  flex: 50%;
}

.readme {
  border:1px solid black;
  padding: 20px;
  margin: 20px;
}
